<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
	<title>登入-我在校园自动打卡</title>
	<link rel="stylesheet" type="text/css" href="../static/css/signin.css">
</head>
<body>
	<div class="top">
		<div class="top_center">
			<div class="logo">
				<img src="../images/logo.png"  alt="" style="width:53px;height:53px;margin-top:30px;">
			</div>
			<div class="welcome" style="margin-top:50px;"></div>
		</div>
	</div>
	<div class="main">
		<div class="main_center">
			<div class="main_username">
				<div class="word float_l">请输入手机号</div>
			</div>
			<div class="main_input">
				<div class="search float_l">
					<input name="wd"  type="text" style="width:270px;height:30px; border:1px #d1d5da solid;border-radius:3px; ">		
				</div>
			</div>
			<div class="main_username" style="margin-top: 10px;">
				<div class="word float_l">输入验证码</div>
				<div class="word float_r" style="font-size: 14px"><a href="#">获取验证码</a></div>
			</div>
			<div class="main_input">
				<div class="search" style="float:left;">
					<input name="wd"  type="password" maxlength="16" style="width:270px;height:30px; border:1px #d1d5da solid;border-radius:3px; ">	
				</div>
			</div>
			<div class="main_login">
				<div class="button">
					<a href="index.html" style="color:white;" target="_blank">登入</a> 
				</div>
			</div>
		</div>	
	</div>
	<div class="foot">
		<div class="foot_center">
			<div class="foot_top">
				<div class="word1 float_l">新用户?</div>			
				<div class="word2 float_r"><a href="register">创建账户</a></div>	
			</div>
			<div class="foot_tail">
				<div class="foot_word">Nice to meet you !</div>
			</div>
        </div>
	</div>
</body>
</html>
 
