<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
	<title>我在校园-密码重置</title>
	<link rel="stylesheet" type="text/css" href="../css/signin.css">
</head>
<body>
	<div class="top">
		<div class="top_center" style="height: 200px">
			<div class="logo">
				<img src="../images/shuduia.png"  alt="" style="width:53px;height:53px;margin-top:30px;">
			</div>
			<div class="welcome" style="margin-top:50px;">Welcome to join us</div>
            <div class="welcome" style="margin-top:10px;">创建您的账户</div>
		</div>
	</div>
	<div class="main">
		<div class="main_center" style="height: 320px">
			<div class="main_username">
				<div class="word float_l">用户名或电子邮箱*</div>
			</div>
			<div class="main_input">
				<div class="search float_l">
					<input name="username"  type="text" style="width:270px;height:30px; border:1px #d1d5da solid;border-radius:3px; ">		
				</div>
			</div>
			<div class="main_username" style="margin-top: 10px;">
				<div class="word float_l">密码*</div>
			</div>
			<div class="main_input">
				<div class="search" style="float:left;">
					<input name="pwd"  type="password" maxlength="16" style="width:270px;height:30px; border:1px #d1d5da solid;border-radius:3px; ">	
				</div>
			</div>
            <div class="main_username" style="margin-top: 10px;">
				<div class="word float_l">确认您的密码*</div>
			</div>
			<div class="main_input">
				<div class="search" style="float:left;">
					<input name="pwd"  type="password" maxlength="16" style="width:270px;height:30px; border:1px #d1d5da solid;border-radius:3px; ">	
				</div>
			</div>
			<div class="main_login">
				<div class="button">
					<a href="signin.html" style="color:white;" target="_blank">注册</a> 
				</div>
			</div>
		</div>	
	</div>
	<div class="foot">
		<div class="foot_center">
			<div class="foot_top">
				<div class="word1 float_l">已有账户?</div>			
				<div class="word2 float_r"><a href="signin.html">点击登入</a></div>	
			</div>
			<div class="foot_tail">
				<div class="foot_word">Nice to meet you !</div>
			</div>
        </div>
	</div>
</body>
</html>
