<!DOCTYPE html>
<html>
<head>
    <meta charset="uft-8"/>
    <title>
        重置密码-我在校园
    </title>
    <link rel="stylesheet" type="text/css" href="../static/css/signin.css">
</head>
<body>
    <div class="top">
        <!-- <div class="top_center">
            <div class="logo">
                <img src="../images/logo.jpg" alt="" style="width:53px;height:53px;margin-top:30px;">
            </div>
            <div class="welcome" style="margin-top:50px;"></div>
        </div> -->

    </div>

    <div class="main">
        <div class="main_center">
            <div class="main_username">
                <div class="word float_l">请输入新密码</div>
            </div>
            <div class="main_input">
                <div class="search" style="float: left;">
					<input name="wd"  type="password" maxlength="16" style="width:270px;height:30px; border:1px #d1d5da solid;border-radius:3px; ">	
                </div>
            </div>
            <div class="main_username">
                <div class="word float_l">请再次确认密码</div>
            </div>
            <div class="main_input">
                <div class="search" style="float: left;">
					<input name="wd"  type="password" maxlength="16" style="width:270px;height:30px; border:1px #d1d5da solid;border-radius:3px; ">	
                </div>
            </div>
            <div class="main_login">
				<div class="button">
					<a href="index.html" style="color:white;" target="_blank">确认</a> 
				</div>
			</div>
        </div>
    </div>
</body>


</html>